@import '../../mixins.scss';

.main{
    grid-row: 3/4;
    align-self: center;
    @include desktop {
        padding: 0 50px;
    }
    &__title{
        color: white;
        font-size: 13vw;
        align-items: center;
        text-align: center;
        font-family: 'Cinzel', serif;
        @include desktop{
            text-align: left;
            font-size:60px
        }
    }
    &__description{
        color: white;
        font-size: 4vw;
        text-align: center;
        font-family: 'Cinzel', serif;
        @include desktop {
            text-align: left;
            font-size:25px
        }
    }
}