*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;



}

#root{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr 3fr 2fr 1fr;
    grid-template-columns: 1fr;
}