@mixin desktop {
    @media (min-width: 770px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 550px) {
        @content;
    }
}

@mixin sectionSettings {
    background-color: white;
    height: calc(100% * ( 8 / 9 ));
    width: 100vw;
    position: fixed;
    top: calc(100% / 9);
    transition: 2s;
    transform: translateY(100%);
}