.backend{
    display: flex;
    flex-wrap: wrap;
    &-hide{
        display: none;
    }
    &__skill{
        &__img{
            width: 150px;
            height: 150px;
            object-fit: contain;
            background-color: white;
            margin: 10px;
        }
    }
}