@import '../../../mixins.scss';
@import '../../../animation.scss';

.backend{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    animation: show 2s;
    padding: 10px;
    @include desktop{
        grid-row: 2/4;
        grid-column: 2/3;
    }
    &-hide{
        display: none;
    }
    &__skill{
        &__img{
            width: 120px;
            height: 120px;
            object-fit: contain;
            background-color: white;
            margin: auto;
            animation: scale 3s infinite ;
        }
    }
}