@import '../../../mixins.scss';
@import '../../../animation.scss';

.learing{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    animation: show 2s;
    padding: 10px;
    grid-row: 3/4;
    @include desktop{
        grid-row: 2/4;
        grid-column: 2/3;
    }
    &-hide{
        display: none;
    }
    &__skill{
        &__img{
            width: 70px;
            height: 70px;
            object-fit: contain;
            background-color: white;
            margin: auto;
            animation: scale 3s infinite ;
            @include desktop{
                width: 120px;
                height: 120px;
            }
        }
    }
}